/* Nav.css */
.navbar {
  display: flex;
  justify-content: center;
  width: 887px;
  height: 78px;
  flex-shrink: 1;
  padding-top: 1rem;
    position: fixed; /* Make the entire navbar sticky */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Full width */
    height: 78px;
    z-index: 1000; /* Adjust z-index as needed */
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    background-color: #386e55;
}

.navbar ul {
  list-style: none;
  display: flex;
  cursor: pointer;
  display: flex;
  width: 710px;
  align-items: flex-start;
  gap: 30px;
  align-items: center
}

.navbar li {
  margin-right: 20px;
}

.navbar a:not(.Logo) {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: #000;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.navbar-menu {
  flex: auto;
  display: none;
  position: relative;
  padding-right: 2rem;
}

.Logo {
  display: flex;
  width: 200;
  height: 80;
  justify-content: flex-end;
}



.navbar.sticky:not(.Logo)  {
  position: fixed;
  background-color: #386e55;
  padding-bottom: 1rem;
  top: 0;
  left:0;
}

.navbar-menu.open {
  padding-right: 0;
}


@media screen and (max-width: 840px) {
  .nav_mobile_menu_container {
    flex: auto;
    justify-content: flex-start;
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav_mobile_menu {
    display: flex;
    flex-direction: end;
    width: 100px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar ul:not(.navbar_links) {
    display: none;
    
  }

  ul.navbar_links {
    padding-top: 20rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-height: fit-content;
    width: 3rem;
    flex-direction: column;
    background-color: darkslategrey;
    width: 5rem;
    height: 22rem;
    
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar_links {
    padding-right: 1rem;
    
  }

 
}

@media screen and (max-width: 290px) {
  .navbar {
    flex-shrink: 1;
  }

  .navbar-menu {
    display: none;
    padding-right: 0rem;
  }
}
