/* Nav.css */
.navbar {
  display: flex;
  justify-content: center;
  width: 887px;
  height: 78px;
  flex-shrink: 1;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    cursor: pointer;
    display: flex;
    width: 640px;
    align-items: flex-start;
    gap: 28px;
  }

  .navbar li {
    margin-right: 20px;
  }

  .navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #000;
font-family: Karla;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
  }

  .Logo {
    display:flex;
    width: 200;
      height: 80;
      justify-content: flex-end;
  }

  .navbar-menu {
    flex: auto;
    margin-left: 1rem;
    display: none;
    position: relative;
  }






  @media screen and (max-width: 800px) {

    .nav_mobile_menu_container{
      flex: auto;
      justify-content: flex-start ;
    }

    .navbar-menu{
      display: flex;
      justify-content: flex-end;
      align-items: center;
     }

     .nav_mobile_menu {
      display: flex;
      flex-direction: end;
      width: 100px;
      padding-left: 0px;
      padding-right: 0px;
     }

   .menu_links {
    display: none;
   }

.navbar_links {
display: flex;
  flex-direction: column;
  width: 100px;
}

ul.navbar_links {
width: 0px;
padding-top: 12rem;
}
  }


  @media screen and (max-width: 650px) {

.navbar {

  display: flex;
  justify-content: center;
  padding-inline:
}
  .navbar_links {
  padding-right: 1rem;

}
  }

  @media screen and (max-width: 300px) {

    .navbar {
      flex-shrink: 1;
    }

    .navbar-menu {
      display: none;
    }
  }
