h1 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-container {
    display: flex;
    padding: 3rem;
    background-color: #cfffe7;
    justify-content:space-around;
    align-content: space-around;



  }

  .hero-left
  {
      display: flex;
      width: 320px;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      
  }

  .hero-left h4 {

    padding-bottom: 5vh;
    width: 420px;
    
  }

  .hero-right
  {
    width: 388px;
    height: 372px;
    padding: 0rem 5rem;
  }

 .hero-right img {
    max-width: 480px;
    min-height: 372px;
      max-height: 372px;
      border-radius: 5%;
}

.hero-right-img {

    display: flex;
}

  .hero-central-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }

  h1 {
    color: #000;
font-family: Inter;
font-size: 53px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0px;
  }
  h4 {

    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 28.125px */
    
  }
  h6 {
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
    margin: 0;
  }

  button
  {
      display: flex;
      width: 199px;
      height: 48px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 3px;
      background: #000;
      color: white;
  }



/* Media Query's for responsiveness*/
@media screen and (max-width: 990px) {

  .hero-right img {
    width: fit-content;
    height: fit-content;
    max-height: 372px;
    border-radius: 5%;

}

.hero-left h4 {
  width: fit-content;
  padding-bottom: 5vh;
}


.hero-left{
  padding-bottom: 15vh;
  display: flex;
  align-content: space-between;
  height: 20rem;
  flex-direction: row;
}


}

@media screen and (max-width: 979px) {
  .hero-right {
    display: flex;
    justify-content: center;
  }

.hero-left{
  padding-bottom: 15vh;
  display: flex;
  align-content: space-between;
  height: 20rem;
  flex-direction: row;
}



}

  @media screen and (max-width: 845px) {

    .hero-central-container{

    }


    .hero-left{
         display: flex;
         align-content: space-between;
         height: 20rem;
    }
  }



      @media screen and (max-width: 550px) {

        .hero-right{

          display: none;
        }
        .hero-left {
          height: 25rem;
        }


      }

      @media screen and (max-width: 350px) {

        .hero-left {
          height: 30rem;
          width: auto;
        }

        .hero-left h4 {
          width: 181px;
          padding-bottom: 10vh;
          }

       

      }