h1 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-container {
    display: flex;
    padding: 3rem;
    background-color: #4d7a64;
    justify-content:space-around;
    align-content: space-around;
    padding-top: 6rem;

  }


  .hero-left
  {
      display: flex;
      padding-bottom: 5vh ;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      
  }

  .hero-left h4 {

    padding-bottom: 5vh;
    width: 420px;
    
  }

  .hero-right
  {
    width: 388px;
    height: 372px;
    padding: 0rem 5rem;
  }

 .hero-right img {
    max-width: 480px;
    min-height: 372px;
      max-height: 372px;
      border-radius: 5%;
}

.hero-right-img {

    display: flex;
}

  .hero-central-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding-bottom: 5rem
  }

  h1 {
    color: #000;
font-family: Inter;
font-size: 53px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0px;
  }
  h4 {

    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 28.125px */
    
  }

  h6 {
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
  }

  button
  {
      display: flex;
      width: 199px;
      height: 48px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 3px;
      background: #000;
      color: white;
  }



/* Media Query's for responsiveness*/

@media screen and (max-width: 1062px) {

  .hero-right {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .bttn-container {

    display: flex;

    justify-content: center;
  }

}

@media screen and (max-width: 966px) {

  .hero-right {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 5vh
  }

.hero-left{
  flex-wrap: wrap;
  padding-bottom: 5vh;
  align-content: space-between;
  width: auto;
}


.hero-central-container {
  align-content: space-around;
  padding-bottom: 0
}


}


  @media screen and (max-width: 845px) {


    .hero-left{
         display: flex;
         align-content: space-between;
    }
  }



      @media screen and (max-width: 550px) {

        .hero-central-container{
          padding-bottom: 0rem;
        }

        .hero-right{
          display: none;
        }


        .hero-left h4 {
          padding-bottom: 5vh;
          height: fit-content;
          width: fit-content;
        }


      }

      @media screen and (max-width: 450px) {

        .hero-central-container {
          display: flex;
        }

        .hero-left h4 {
          width: fit-content;
        }

        .hero-left {
          padding-bottom: 5vh;
        }
        
        button {
          width: fit-content;

        }


      }
