.header-nav-container {
  display: flex; /* Display headerbar with logo and nav side by side */
  padding: 2rem;
  background-color: #386e55e6;
  justify-content: center;

}

.root {
 padding-bottom: 0%;
}

body {
  margin: auto;
}


@media screen and (max-width: 800px) {

  .header-nav-container {
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 1;
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 650px)  {


}
  @media screen and (max-width: 260px) {

    .header-nav-container {
      display: flex;
      justify-content: space-around;
    }

  }