.app {

}

.header-nav-container {
  display: flex; /* Display headerbar with logo and nav side by side */
  padding: 2rem;
  background-color: #325a33;
  justify-content: center;
}

.app {


}

nav {

}

header {


}




/* Media query for screens with a maximum width of 700px */

@media screen and (max-width: 600px)  {
  .header-nav-container {
    padding: 0.5rem; /* Reduce padding for smaller screens */

  }

  }

  @media screen and (max-width: 800px) {

    .header-nav-container {
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 1;
 
    }
  }